/* Custom color theme properties */
:root {
  --f7-theme-color: #ffffff;
  --f7-theme-color-rgb: 255, 255, 255;
  --f7-theme-color-shade: #ebebeb;
  --f7-theme-color-tint: #ffffff;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');
@font-face {
    font-family: 'Bookmania';
    src: url('../fonts/Bookmania-Semibold.eot');
    src: url('../fonts/Bookmania-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bookmania-Semibold.woff2') format('woff2'),
        url('../fonts/Bookmania-Semibold.woff') format('woff'),
        url('../fonts/Bookmania-Semibold.ttf') format('truetype'),
        url('../fonts/Bookmania-Semibold.svg#Bookmania-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@import 'home.styl'

.cerrar-menu
  font-family 'Bookmania'
  font-size 22px
  position absolute
  z-index 99000
  right 40px
  top 15px
/* Your app custom styles here */